@model HTTP5101_Cumulative1_UditeshJha.Models.Teacher
@{
    ViewBag.Title = "DeleteConfirmTeacher";
}

<div id="containershow">

    <div>
        <a href="/Teacher/Show/@Model.TeacherId">Cancel</a>
    </div>
    <h2>Are you sure you want to delete @Model.TeacherFname @Model.TeacherLname?</h2>
    <p>This Method can not be undone!</p>
    <nav class="navteacher" style="margin: 0 auto; ">
        <form action="/Teacher/Delete/@Model.TeacherId" method="post">
            <button class="deletebutton" href="/Teacher/Show/@Model.TeacherId">Confirm Delete</button>
        </form>
    </nav>

</div>


