body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h2{
    font-size:35px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navteacher {
    overflow: hidden;
    margin-bottom:20px;
}

.dellink{
    color: red;
    float: right;
}

.navlink {
    float: left;
}

.deletebutton{
    background-color:red;
    color:white;
    border:1px solid black;
}

#containerlist, #containershow {
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
}

.listitem {
 
    margin: 10px 0;
}
